body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0px;
}

/* FADE */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(34px) scale(0.98);
    filter: blur(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

/* FLOATING */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* GOLD GLOW */

@keyframes pulseGlow {
  0% {
    opacity: 0.45;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.45;
  }
}

/* BACKGROUND MOVE */

@keyframes backgroundMove {
  0% {
    background-position: center top;
  }

  50% {
    background-position: center 20px;
  }

  100% {
    background-position: center top;
  }
}
